<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>{{ site.aboutTitle }}</h3>
            <div class="row about-details">
                {% assign animationDelay = 0 %}
                <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <h5>{{ site.aboutSubtitle }}</h5>
                        <p>{{ site.aboutText }}</p>
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
            </div>

        </div>
    </div>
</section>
<!-- End About Section -->
