<!-- Begin Location Section -->
<section id="location-map-new">
    <div class="content-wrapper">
        <iframe width="80%" height="450" frameborder="0" scrollwheel="false" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-1.565133333206177%2C53.80044172417859%2C-1.5472161769866946%2C53.805966739882194&amp;layer=mapnik&amp;marker=53.803204323034265%2C-1.5561747550964355" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=53.80320&amp;mlon=-1.55617#map=17/53.80320/-1.55617">View Larger Map</a></small>
    </div>
</section>
<!-- End Location Section -->
