<head>
    <link rel="shortcut icon" href="{{ "/img/favicons/favicon.ico" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/img/favicons/apple-touch-icon-152x152.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/img/favicons/apple-touch-icon-144x144.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/img/favicons/apple-touch-icon-120x120.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/img/favicons/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "/img/favicons/apple-touch-icon-76x76.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/img/favicons/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ "/img/favicons/apple-touch-icon-60x60.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ "/img/favicons/apple-touch-icon-57x57.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/img/favicons/favicon-196x196.png" sizes="196x196" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/img/favicons/favicon-160x160.png" sizes="160x160" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/img/favicons/favicon-96x96.png" sizes="96x96" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/img/favicons/favicon-32x32.png" sizes="32x32" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" href="{{ "/img/favicons/favicon-16x16.png" sizes="16x16" | prepend: site.baseurl }}">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{{ "/img/favicons/mstile-144x144.png" | prepend: site.baseurl }}">
    <meta name="msapplication-config" content="{{ "/img/favicons/browserconfig.xml" | prepend: site.baseurl }}">
    <title>{% if page.title %}{{ page.title }} &bull; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
</head>
<!-- Begin Schedule Section -->
<header id="top-header" class="top-header">
    <div class="overlay white-solid"></div>
    <a href="{{ site.baseurl }}/" id="logo-header" class="logo-header">
        <div class="logo logo-light"></div>
    </a>
    <nav class="st-menu st-effect" id="menu">
        <div class="logo-navbar logo logo-dark visible-xs"></div>
        <ul>
            {% for navigationLink in site.navigationLinks %}
            <li>
                <a class="{% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}"  href="{% if navigationLink.permalink != null %} {{ navigationLink.permalink | prepend: site.baseurl }} {% else %} {{ navigationLink.link }} {% endif %}" {% if navigationLink.link != null %}target="_blank"{% endif %}>{{ navigationLink.text}}</a>
            </li>
            {% endfor %}
        </ul>
        <ul id="bottom-navlinks" class="bottom-navlinks visible-xs">
            {% for bottomNavigationLink in site.bottomNavigationLinks %}
            <li>
                <a href="{% if bottomNavigationLink.permalink != null %} {{ bottomNavigationLink.permalink | prepend: site.baseurl }} {% else %} {{ bottomNavigationLink.link }} {% endif %}" {% if bottomNavigationLink.link != null %}target="_blank"{% endif %}>{{ bottomNavigationLink.text }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>

<h1>{{page.title}}</h1>
<h3>Programme</h2>
    {% for day in site.data.schedule %}
        {% for timeslot in day.timeslots %}
            {% assign startTime = timeslot.startTime | split: ":" %}

            {% assign endTime = timeslot.endTime | split: ":" %}
            {% for slot in timeslot.sessionIds %}
                {% assign track = day.tracks[forloop.index0].title %}
                {% assign slotColWidth = 12 | divided_by: forloop.length %}
                {% assign slotIndex = forloop.index0 %}
                {% for session in site.data.sessions %}
                    {% if slot == session.id and session.service == null %}
                        <hr/>
                        <h3>{{day.dateReadable}} {{ startTime[0] }}<span>:{{ startTime[1] }}</span>-{{ endTime[0] }}<span>:{{ endTime[1] }}</span> {{ session.title }}</h3>
                        <h3>{{track}}</h3>

                        {% if session.sessions %}

                            {% for talk in session.sessions %}

                                <h4>{{talk.talkTitle}}</h4>
                                <strong>Talk time:</strong> {{talk.startTime}}-{{talk.endTime}}<br>

                                <p class="theme-description"><strong>Abstract: </strong>{{ talk.description }}</p>
                                <div class="people-details">
                                    {% for speaker in site.data.speakers %}
                                            {% if talk.speaker == speaker.id %}
                                                    <p class="name"><strong>Speaker: </strong>{{ speaker.name }} {{ speaker.surname }}{% if speaker.title %},{% endif%} 
                                                        <span class="position">{% if speaker.title %}  {{ speaker.title }},{% endif%} {{ speaker.company }}</span>
                                                    </p>
                                                    {%if speaker.bio %}
                                                    <p class="about"><strong>Biography: </strong>{{ speaker.bio }}</p>
                                                    {% endif %}
                                            {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% else %}

                        {% if session.description %}
                        <p class="theme-description"><strong>Abstract: </strong>{{ session.description }}</p>
                        {% endif %}
                        <div class="people-details">
                            {% for speaker in site.data.speakers %}
                                {% for session_speaker in session.speakers %}
                                    {% if session_speaker == speaker.id %}
                                            <p class="name"><strong>Speaker: </strong>{{ speaker.name }} {{ speaker.surname }}{% if speaker.title %},{% endif%} 
                                                <span class="position">{% if speaker.title %}  {{ speaker.title }},{% endif%} {{ speaker.company }}</span>
                                            </p>
                                            {%if speaker.bio %}
                                            <p class="about"><strong>Biography: </strong>{{ speaker.bio }}</p>
                                            {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
<!-- End Schedule Section -->
