<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
    <div class="content-wrapper">
        <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 10 }'>
            {% for session in site.data.sessions %}
            {% if session.hidden != true %}
            <div class="grid-item">
                <h5>{{ session.title }}</h5>
                <hr />
                <span class="text-body">{{ session.description }}</span>
                <a href="{{ site.baseurl }}/schedule/#session-{{ session.id }}">Find the event in the schedule</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Schedule Section -->
