<!-- Venue Section -->
<section id="venue">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.venueBlockTitle }}</h3>
            <div class="row venue-row">
                <div class="col-md-8 col-sm-8 venue-col">
                    <div class="venue-elem-wrapper">
                        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-1.5642964839935305%2C53.800999327599214%2C-1.547151803970337%2C53.805605608571774&amp;layer=mapnik&amp;marker=53.803302531340556%2C-1.5557241439819336" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=53.80330&amp;mlon=-1.55572#map=17/53.80330/-1.55572">View Larger Map</a></small>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 venue-col venue-small-col">
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem image-section venue-small-elem venue-img animated hiding" data-animation="fadeIn" data-delay="150" style="background-image: url({{ site.baseurl }}/img/past-events/{{ site.venueSmallImage1 }})"></div>
                    </div>
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem venue-small-elem venue-text animated hiding" data-animation="fadeIn" data-delay="0">
                            <h5>{{ site.venueTitle }}</h5>
                            {% for feature in site.venueFeatures %}
                            <p>{{ feature }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem image-section venue-small-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/past-events/{{ site.venueSmallImage2 }})"></div>
                    </div>
                    <div class="venue-elem-wrapper col-xs-6 visible-xs">
                        <div class="venue-elem image-section venue-small-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/past-events/{{ site.venueSmallImage3 }})"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Venue Section -->
